@charset "UTF-8";
/* Variables */
/* Listas */
/* Maps */
/* Paleta de colores: https://coolors.co/000000-14203e-ffa10a-e5e5e5-ffffff */
/* Extends */
.header__logo__h1, .header__logo__h2, .bsNav, .seccionUno, .seccion, .footer__iconos, .footer__sitio__item, .seccionBootstrapUno, .seccionBootstrapDos {
  animation: fadeIn;
  animation-duration: 1s; }

.seccionUno, .seccion, .seccionBootstrapUno, .seccionBootstrapDos, .gridServicios__objeto, .seccion__articulo {
  border: groove;
  border-radius: 0.5rem; }

input[type="submit"], input[type="reset"] {
  width: 90%;
  background-color: #14203E;
  font-weight: 600;
  color: #FFFFFF;
  cursor: pointer;
  text-transform: uppercase;
  border: 2px outset #FFFFFF; }

/* UNIVERSAL */
* {
  margin: 0;
  padding: 0; }

body {
  font-family: "Open Sans", sans-serif;
  background-image: url(../imagenes/fondo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top; }

/* HEADER */
/* Logo: Título y subtítulo */
.header {
  background-color: #000000;
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .header__logo__h1 {
    transition: transform 0.2s; }
    .header__logo__h1:hover {
      transform: scale(1.05, 1); }
    .header__logo__h1__a {
      color: #E5E5E5;
      font-family: "Ephesis", cursive;
      font-weight: 400;
      font-size: 3rem;
      text-decoration: none; }
      .header__logo__h1__a:hover {
        color: #E5E5E5; }
  .header__logo__h2 {
    color: #E5E5E5;
    font-weight: 400;
    font-size: 1rem;
    font-style: italic;
    padding-bottom: 0.6rem;
    margin-bottom: 0; }

/* Menú */
.bsNav {
  padding: 0; }
  .bsNav__Menu {
    background-color: #000000; }
    .bsNav__Menu__Boton {
      background-color: #E5E5E5;
      margin: auto; }
      .bsNav__Menu__Boton:hover {
        background-color: #FFA10A; }

.nav-link {
  color: #E5E5E5 !important;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center; }
  .nav-link:hover {
    color: #FFA10A !important; }

.active {
  color: #FFA10A !important; }

/* MAIN */
/* Secciones, títulos y texto */
.seccionUno {
  margin: 9rem 3% 3% 3%;
  padding: 3%;
  background-color: #E5E5E5;
  text-align: center; }

.seccion {
  margin: 3%;
  padding: 3%;
  background-color: #E5E5E5;
  text-align: center; }

.row {
  align-items: center; }

.tituloGeneral {
  color: #14203E;
  font-size: 1.5rem;
  font-weight: 800;
  text-transform: uppercase;
  padding-bottom: 1rem;
  text-align: center; }

.textoGeneral {
  color: #14203E;
  font-size: 1.1rem;
  text-align: center; }

.subtitulo {
  color: #14203E;
  font-size: 1.4rem;
  font-weight: 800;
  text-align: center; }

/* Listas */
.listaGeneral {
  list-style-position: inside; }

ul {
  margin-bottom: 0;
  padding-left: 0; }

/* Imágenes */
img {
  width: 80%;
  height: 80%; }

.seccionUno__img {
  margin-top: 1rem; }

/* FOOTER */
.footer {
  color: #E5E5E5;
  font-size: 0.8rem;
  font-weight: 600;
  background-color: #000000;
  width: 100%;
  text-align: center; }
  .footer__iconos {
    list-style-type: none;
    padding: 0.1rem; }
    .footer__iconos__item {
      margin: 1rem; }
      .footer__iconos__item__a {
        color: #E5E5E5;
        text-decoration: none; }
        .footer__iconos__item__a:hover {
          color: #FFA10A; }
  .footer__mapa {
    margin: 1rem; }
  .footer__sitio__item {
    list-style-type: none; }
    .footer__sitio__item__a {
      color: #E5E5E5;
      text-decoration: none;
      text-transform: uppercase; }
      .footer__sitio__item__a:hover {
        color: #FFA10A; }

/* Index */
.seccionBootstrapUno {
  margin: 9rem auto 3% auto;
  padding: 3%;
  background-color: #E5E5E5; }

.seccionBootstrapDos {
  margin: auto;
  padding: 3%;
  background-color: #E5E5E5; }

/* Servicios */
.gridServicios__objeto {
  padding: 1rem;
  margin-top: 1rem; }

/* Esquema de Trabajo */
.seccion__articulo {
  padding: 1rem;
  margin-top: 1rem; }

/* Formulario de Contacto */
.formulario__entrada {
  display: flex;
  flex-direction: column; }
  .formulario__entrada__label {
    color: #14203E;
    font-weight: 400;
    margin-top: 1rem;
    text-transform: uppercase; }
  .formulario__entrada__input, .formulario__entrada__textarea, .formulario__entrada__select {
    width: 90%;
    height: 2rem;
    font-family: "Open Sans", sans-serif;
    color: #000000;
    background-color: #FFFFFF;
    font-weight: 600;
    border: none;
    border-bottom: solid #FFA10A 3px;
    margin: 0 auto;
    padding-left: 0.3rem; }
  .formulario__entrada__textarea {
    height: 10rem; }

.formulario__botones {
  display: flex;
  margin: 0 auto;
  width: 90%;
  margin-top: 1rem; }

input[type="submit"]:hover {
  background-color: #FFA10A; }

input[type="reset"] {
  margin: 0 auto; }
  input[type="reset"]:hover {
    background-color: #FFA10A; }

/* Error 404 */
.error404 {
  color: #000000;
  font-weight: 600; }

.error404Link {
  color: #14203E;
  font-weight: 600; }
  .error404Link:hover {
    color: #FFA10A; }

/* MEDIA QUERIES */
@media only screen and (min-width: 768px) {
  /* MAIN */
  /* Secciones, títulos y texto */
  .seccionUno {
    margin: 9rem 10% 1% 10%;
    padding: 1%; }
  .seccion {
    margin: 1% 10%;
    padding: 1%; }
  .seccionBootstrapUno {
    margin: 9rem auto 1% auto;
    padding: 1%; }
  .seccionBootstrapDos {
    margin-bottom: 1%;
    padding: 1%; }
  .tituloGeneral, .textoGeneral, .subtitulo {
    text-align: justify; }
  /* Servicios */
  .gridServicios {
    display: grid;
    grid-template-areas: "gridUno gridDos" "gridTres gridCuatro" "gridCinco gridSeis" "gridSiete gridOcho" "gridNueve gridNueve" "gridDiez gridOnce" "gridDoce gridTrece" "gridCatorce gridCatorce";
    grid-column-gap: 1rem;
    grid-row-gap: 1rem; }
  .gridUno {
    grid-area: gridUno; }
  .gridDos {
    grid-area: gridDos; }
  .gridTres {
    grid-area: gridTres; }
  .gridCuatro {
    grid-area: gridCuatro; }
  .gridCinco {
    grid-area: gridCinco; }
  .gridSeis {
    grid-area: gridSeis; }
  .gridSiete {
    grid-area: gridSiete; }
  .gridOcho {
    grid-area: gridOcho; }
  .gridNueve {
    grid-area: gridNueve; }
  .gridDiez {
    grid-area: gridDiez; }
  .gridOnce {
    grid-area: gridOnce; }
  .gridDoce {
    grid-area: gridDoce; }
  .gridTrece {
    grid-area: gridTrece; }
  .gridCatorce {
    grid-area: gridCatorce; }
  /* Imágenes */
  img {
    width: 50%;
    height: 50%; }
  .seccionUno__img {
    width: 40%; }
  /* Formulario de Contacto */
  .formulario__entrada__input, .formulario__entrada__textarea, .formulario__entrada__select {
    width: 50%; }
  .formulario__botones {
    width: 50%; }
  /* FOOTER */
  .footer {
    display: flex;
    justify-content: space-around;
    align-items: center; } }

@media only screen and (min-width: 1024px) {
  /* HEADER */
  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end; }
  /* MAIN */
  /* Secciones, títulos y texto */
  .seccionUno {
    margin: 6.5rem 10% 1% 10%; }
  .seccionBootstrapUno {
    margin: 6.5rem auto 1% auto; } }
