/* Index */

.seccionBootstrapUno{
    margin: 10rem auto 3% auto;
    padding: 3%;
    @extend %borde;
    background-color: map-get($colores, plateado);
    @extend %animacionPrincipal;
}

.seccionBootstrapDos{
    margin: auto;
    padding: 3%;
    @extend %borde;
    background-color: map-get($colores, plateado);
    @extend %animacionPrincipal;
}