/* UNIVERSAL */

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: $fontPrincipal;
    background-image: url(../imagenes/fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}

/* HEADER */

/* Logo: Título y subtítulo */

.header{
    background-color: map-get($colores, negro);
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__logo__h1{
        @extend %animacionPrincipal;
        transition: transform 0.2s;

        &:hover{
            transform: scale(1.05,1);
        }

        &__a{
            color: map-get($colores, plateado);
            font-family: $fontLogo;
            font-weight: 400;
            font-size: 3rem;
            text-decoration: none;

            &:hover{
                color: map-get($colores, plateado);
            }
        }        
    }

    &__logo__h2{
        color: map-get($colores, plateado);
        font-weight: 400;
        font-size: 1rem;
        font-style: italic;
        padding-bottom: 0.6rem;
        @extend %animacionPrincipal;
        margin-bottom: 0;
    }
}

/* Menú */

.bsNav{
    padding: 0;
    @extend %animacionPrincipal;

    &__Menu{
        background-color: map-get($colores, negro);

        &__Boton{
            background-color: map-get($colores, plateado);
            margin: 0.5rem auto;

            &:hover{
                background-color: map-get($colores, naranja);
            }
        }
    }
}

.nav-link{
    color: map-get($colores, plateado) !important;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;

    &:hover{
        color: map-get($colores, naranja) !important;
    }
}

.active{
    color: map-get($colores, naranja) !important;
}

/* MAIN */

/* Secciones, títulos y texto */

.seccionUno{
    margin: 10rem 3% 3% 3%;
    padding: 3%;
    @extend %borde;   
    background-color: map-get($colores, plateado);
    text-align: center;
    @extend %animacionPrincipal;
}

.seccion{
    margin: 3%;
    padding: 3%;
    @extend %borde;   
    background-color: map-get($colores, plateado);
    text-align: center;
    @extend %animacionPrincipal;
}

.row{
    align-items: center;
}

.tituloGeneral{
    color: map-get($colores, azul);
    font-size: 1.5rem;
    font-weight: 800;
    text-transform: uppercase;
    padding-bottom: 1rem;
    text-align: center;
}

.textoGeneral{
    color: map-get($colores, azul);
    font-size: 1.1rem;
    text-align: center;
}

.subtitulo{
    color: map-get($colores, azul);
    font-size: 1.4rem;
    font-weight: 800;
    text-align: center;
}

/* Listas */

.listaGeneral{
    list-style-position: inside;
}

ul{
    margin-bottom: 0;
    padding-left: 0;
}

/* Imágenes */

img{
    width: 80%;
    height: 80%;
}

.seccionUno__img{
    margin-top: 1rem;
}

/* FOOTER */

.footer{
    color: map-get($colores, plateado);
    font-size: 0.8rem;
    font-weight: 600;
    background-color: map-get($colores, negro);
    width: 100%;
    text-align: center;

    &__iconos{
        list-style-type: none;
        padding: 0.1rem;
        @extend %animacionPrincipal;

        &__item{
            margin: 1rem;

            &__a{
                color: map-get($colores, plateado);
                text-decoration: none;

                &:hover{
                    color: map-get($colores, naranja);
                }
            }
        }
    }

    &__mapa{
        margin: 1rem;
    }

    &__sitio__item{
        list-style-type: none;
        @extend %animacionPrincipal;

        &__a{
            color: map-get($colores, plateado);
            text-decoration: none;
            text-transform: uppercase;

            &:hover{
                color: map-get($colores, naranja);
            }
        }
    }
}