/* Variables */

$fontLogo: 'Ephesis', cursive;
$fontPrincipal: 'Open Sans', sans-serif;

/* Listas */

/* Maps */

$colores:(
    negro: #000000,
    blanco: #FFFFFF,
    plateado: #E5E5E5,
    naranja: #FFA10A,
    azul: #14203E
);

/* Paleta de colores: https://coolors.co/000000-14203e-ffa10a-e5e5e5-ffffff */